# --- BOT ---
BOT_TOKEN=your_botfather_token
OPENAI_API_KEY=your_openai_key
OPENAI_MODEL=gpt-4o-mini

PGUSER=punkduck
PGPASSWORD=choose_a_secure_password
PGDATABASE=dilirockarchive


# --- Ansible ---
SERVER_IP=your_server_ip
SERVER_USER=ubuntu
SSH_KEY_PATH=~/.ssh/id_rsa
